include *.txt
include *.md
include *.cfg
include *.pkl
include *.py

include trained_models/*.py
include pred_data/
include processing/*.py
recursive-include trained_models/*
recursive-include data/*

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]Ne